<section id="sidebar">

    <div class="white-label">
        <a href="/profile">
            <p class="application" style="color: white">Application Portal</p>
        </a>
    </div>
    <div id="sidebar-nav">

        <ul>

            <li class="active"></i></li><br><br><br><br>
            <li><a href="/profile/od"><img src="/od.png" class="od" height="20px" width="20px">OD
                    Apply</a></li><br><br><br>
            <li><a href="/profile/leave"><img src="/clock.png" class="leave" height="20px" width="20px">Leave Apply</a>
            </li>
            <li><a href="/profile/certificate"> <img src="/clock.png" class="leave" height="20px"
                        width="20px">Certificate Upload</a></li>
            <li><a href="/profile/viewcert"> <img src="/clock.png" class="leave" height="20px" width="20px">View
                    Certificate
                </a></li>
            <li><a href="/profile/indicator"> <img src="/clock.png" class="leave" height="20px" width="20px">View
                    Indicator
                </a></li>

            <footer>
                <a href="/auth/logout"><img src="/logout (1).png" height="25px" width="25px">Logout</a>
            </footer>
        </ul>
    </div>
</section>
<script src="sideNav.ejs"></script>