<section id="sidebar">

    <div class="white-label">
        <a href="/profile/leave">
            <p class="application" style="color: white">Application Portal</p>
        </a>
    </div>
    <div id="sidebar-nav" class="d-flex align-items-center">
        <div class="container-fluid d-flex flex-column justify-content-around m-3" style="height: 40%;">
            <div><img src="/pending.png" height="20px" width="20px" /><a href="/profile/leave"
                    style="color: white;margin-left: 5px;">Leave
                    Approval</a></div><br>
            <div><img src="/pending.png" height="20px" width="20px" /><a href="/profile/od"
                    style="color: white;margin-left: 5px;">OD
                    Approval</a></div><br>
            <div><img src="/tick.png" height="20px" width="20px" /><a href="/profile/leave/summary"
                    style="color: white;margin-left: 5px;">Leave
                    Summary</a></div><br>

            <div><img src="/certificate.png" height="20px" width="20px" /> <a href="/profile/certificate/faculty"
                    style="color: white;margin-left: 5px;">Certificate
                    Approval</a></div>
        </div>
        <footer>
            <a href="/auth/logout"><img src="/logout (1).png" height="25px" width="25px">Logout</a>
        </footer>
    </div>
</section>